<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
  </head>
  <body>
    <%=msg%>
    <a
      href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx384d9852d02299cc&redirect_uri=http%3A%2F%2F9756-94-74-103-69.ngrok.io%2Fuser&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect"
      >个人中心</a
    >
  </body>
</html>
